<?xml version="1.0" encoding="utf-8"?>
<!--
// Copyright 2013 - OJ Reeves & Jeremiah Peschka
//
// This file is provided to you under the Apache License,
// Version 2.0 (the "License"); you may not use this file
// except in compliance with the License.  You may obtain
// a copy of the License at
//
//   http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing,
// software distributed under the License is distributed on an
// "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
// KIND, either express or implied.  See the License for the
// specific language governing permissions and limitations
// under the License.
-->
<configuration>
  
  <configSections>
    <section name="riak1NodeConfiguration" type="RiakClient.Config.RiakClusterConfiguration, RiakClient"/>
    <section name="riak1NodeNoAuthConfiguration" type="RiakClient.Config.RiakClusterConfiguration, RiakClient"/>
    <section name="riakShortConnectConfiguration" type="RiakClient.Config.RiakClusterConfiguration, RiakClient"/>
    <section name="riakShortWriteConfiguration" type="RiakClient.Config.RiakClusterConfiguration, RiakClient"/>
    <section name="riakShortReadConfiguration" type="RiakClient.Config.RiakClusterConfiguration, RiakClient"/>
    <section name="riakDevrelConfiguration" type="RiakClient.Config.RiakClusterConfiguration, RiakClient"/>
    <section name="riakDevrelNoAuthConfiguration" type="RiakClient.Config.RiakClusterConfiguration, RiakClient"/>
  </configSections>

  <riak1NodeConfiguration nodePollTime="5000" defaultRetryWaitTime="200" defaultRetryCount="3">
    <authentication username="riakuser" certificateAuthorityFile="..\..\..\..\tools\test-ca\certs\cacert.pem" clientCertificateFile="..\..\..\..\tools\test-ca\certs\riakuser-client-cert.pfx" clientCertificateSubject="E=riakuser@myorg.com, CN=riakuser, OU=Development, O=Basho Technologies, S=WA, C=US" checkCertificateRevocation="false"/>
    <nodes>
      <node name="dev1" hostAddress="riak-test" pbcPort="10017" poolSize="32" networkReadTimeout="60000" networkWriteTimeout="60000"/>
    </nodes>
  </riak1NodeConfiguration>

  <riak1NodeNoAuthConfiguration nodePollTime="5000" defaultRetryWaitTime="200" defaultRetryCount="3">
    <nodes>
      <node name="dev1" hostAddress="riak-test" pbcPort="10017" poolSize="32" networkReadTimeout="60000" networkWriteTimeout="60000"/>
    </nodes>
  </riak1NodeNoAuthConfiguration>

  <riakDevrelConfiguration nodePollTime="5000" defaultRetryWaitTime="200" defaultRetryCount="3">
    <authentication username="riakuser" certificateAuthorityFile="..\..\..\..\tools\test-ca\certs\cacert.pem" clientCertificateFile="..\..\..\..\tools\test-ca\certs\riakuser-client-cert.pfx" clientCertificateSubject="E=riakuser@myorg.com, CN=riakuser, OU=Development, O=Basho Technologies, S=WA, C=US" checkCertificateRevocation="false"/>
    <nodes>
      <node name="dev1" hostAddress="riak-test" pbcPort="10017" poolSize="32" networkReadTimeout="60000" networkWriteTimeout="60000"/>
      <node name="dev2" hostAddress="riak-test" pbcPort="10027" poolSize="32" networkReadTimeout="60000" networkWriteTimeout="60000"/>
      <node name="dev3" hostAddress="riak-test" pbcPort="10037" poolSize="32" networkReadTimeout="60000" networkWriteTimeout="60000"/>
      <node name="dev4" hostAddress="riak-test" pbcPort="10047" poolSize="32" networkReadTimeout="60000" networkWriteTimeout="60000"/>
    </nodes>
  </riakDevrelConfiguration>

  <riakDevrelNoAuthConfiguration nodePollTime="5000" defaultRetryWaitTime="200" defaultRetryCount="3">
    <nodes>
      <node name="dev1" hostAddress="riak-test" pbcPort="10017" poolSize="32" networkReadTimeout="60000" networkWriteTimeout="60000"/>
      <node name="dev2" hostAddress="riak-test" pbcPort="10027" poolSize="32" networkReadTimeout="60000" networkWriteTimeout="60000"/>
      <node name="dev3" hostAddress="riak-test" pbcPort="10037" poolSize="32" networkReadTimeout="60000" networkWriteTimeout="60000"/>
      <node name="dev4" hostAddress="riak-test" pbcPort="10047" poolSize="32" networkReadTimeout="60000" networkWriteTimeout="60000"/>
    </nodes>
  </riakDevrelNoAuthConfiguration>

  <riakShortConnectConfiguration nodePollTime="5000" defaultRetryWaitTime="200" defaultRetryCount="3">
    <authentication username="riakuser" certificateAuthorityFile="..\..\..\..\tools\test-ca\certs\cacert.pem" clientCertificateFile="..\..\..\..\tools\test-ca\certs\riakuser-client-cert.pfx" clientCertificateSubject="E=riakuser@myorg.com, CN=riakuser, OU=Development, O=Basho Technologies, S=WA, C=US" checkCertificateRevocation="false"/>
    <nodes>
      <node name="dev1" hostAddress="riak-test" pbcPort="10017" poolSize="32" networkConnectTimeout="1"/>
    </nodes>
  </riakShortConnectConfiguration>
  
  <riakShortReadConfiguration nodePollTime="5000" defaultRetryWaitTime="200" defaultRetryCount="3">
    <authentication username="riakuser" certificateAuthorityFile="..\..\..\..\tools\test-ca\certs\cacert.pem" clientCertificateFile="..\..\..\..\tools\test-ca\certs\riakuser-client-cert.pfx" clientCertificateSubject="E=riakuser@myorg.com, CN=riakuser, OU=Development, O=Basho Technologies, S=WA, C=US" checkCertificateRevocation="false"/>
    <nodes>
      <node name="dev1" hostAddress="riak-test" pbcPort="10017" poolSize="32" networkReadTimeout="1"/>
    </nodes>
  </riakShortReadConfiguration>
  
  <riakShortWriteConfiguration nodePollTime="5000" defaultRetryWaitTime="200" defaultRetryCount="3">
    <authentication username="riakuser" certificateAuthorityFile="..\..\..\..\tools\test-ca\certs\cacert.pem" clientCertificateFile="..\..\..\..\tools\test-ca\certs\riakuser-client-cert.pfx" clientCertificateSubject="E=riakuser@myorg.com, CN=riakuser, OU=Development, O=Basho Technologies, S=WA, C=US" checkCertificateRevocation="false"/>
    <nodes>
      <node name="dev1" hostAddress="riak-test" pbcPort="10017" poolSize="32" networkWriteTimeout="1"/>
    </nodes>
  </riakShortWriteConfiguration>

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
