<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <section name="riak1NodeConfiguration" type="RiakClient.Config.RiakClusterConfiguration, RiakClient"/>
    <section name="riak1NodeNoAuthConfiguration" type="RiakClient.Config.RiakClusterConfiguration, RiakClient"/>
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging"/>
    </sectionGroup>
  </configSections>

  <common>
    <logging>
      <factoryAdapter type="Common.Logging.Simple.ConsoleOutLoggerFactoryAdapter, Common.Logging">
        <arg key="level" value="DEBUG"/>
        <arg key="showLogName" value="true"/>
        <arg key="showDateTime" value="true"/>
        <arg key="dateTimeFormat" value="yyyy/MM/dd HH:mm:ss:fff"/>
      </factoryAdapter>
    </logging>
  </common>

  <riak1NodeConfiguration nodePollTime="5000" defaultRetryWaitTime="200" defaultRetryCount="3">
    <authentication username="riakuser" certificateAuthorityFile="..\..\..\..\tools\test-ca\certs\cacert.pem" clientCertificateFile="..\..\..\..\tools\test-ca\certs\riakuser-client-cert.pfx" clientCertificateSubject="E=riakuser@myorg.com, CN=riakuser, OU=Development, O=Basho Technologies, S=WA, C=US" checkCertificateRevocation="false"/>
    <nodes>
      <node name="dev1" hostAddress="riak-test" pbcPort="10017" poolSize="16"/>
    </nodes>
  </riak1NodeConfiguration>

  <riak1NodeNoAuthConfiguration nodePollTime="5000" defaultRetryWaitTime="200" defaultRetryCount="3">
    <nodes>
      <node name="dev1" hostAddress="riak-test" pbcPort="10017" poolSize="16"/>
    </nodes>
  </riak1NodeNoAuthConfiguration>

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
