<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="riakConfiguration" type="RiakClient.Config.RiakClusterConfiguration, RiakClient"/>
    <section name="riakTlsConfiguration" type="RiakClient.Config.RiakClusterConfiguration, RiakClient"/>
    <section name="riakPlaintextConfiguration" type="RiakClient.Config.RiakClusterConfiguration, RiakClient"/>
    <section name="riakNoAuthConfiguration" type="RiakClient.Config.RiakClusterConfiguration, RiakClient"/>
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging"/>
    </sectionGroup>
  </configSections>

  <common>
    <logging>
      <factoryAdapter type="Common.Logging.Simple.ConsoleOutLoggerFactoryAdapter, Common.Logging">
        <arg key="level" value="DEBUG"/>
        <arg key="showLogName" value="true"/>
        <arg key="showDateTime" value="true"/>
        <arg key="dateTimeFormat" value="yyyy/MM/dd HH:mm:ss:fff"/>
      </factoryAdapter>
    </logging>
  </common>

  <riakConfiguration nodePollTime="5000" defaultRetryWaitTime="200" defaultRetryCount="3">
    <authentication username="riakuser" tls="true" start_tls="true"
                    certificateAuthorityFile="tools\test-ca\certs\cacert.pem"
                    clientCertificateFile="tools\test-ca\certs\riakuser-client-cert.pfx"
                    clientCertificateSubject="E=riakuser@myorg.com, CN=riakuser, OU=Development, O=Basho Technologies, S=WA, C=US"
                    checkCertificateRevocation="false"/>
    <nodes>
      <node name="dev1" hostAddress="riak-test" pbcPort="8087" poolSize="16"/>
    </nodes>
  </riakConfiguration>
  
  <riakTlsConfiguration nodePollTime="5000" defaultRetryWaitTime="200" defaultRetryCount="3">
    <authentication username="riakuser" tls="true" start_tls="false"
                    certificateAuthorityFile="tools\test-ca\certs\cacert.pem"
                    clientCertificateFile="tools\test-ca\certs\riakuser-client-cert.pfx"
                    clientCertificateSubject="E=riakuser@myorg.com, CN=riakuser, OU=Development, O=Basho Technologies, S=WA, C=US"
                    checkCertificateRevocation="false"/>
    <nodes>
      <node name="dev1" hostAddress="riak-test" pbcPort="8487" poolSize="16"/>
    </nodes>
  </riakTlsConfiguration>
  
  <riakPlaintextConfiguration nodePollTime="5000" defaultRetryWaitTime="200" defaultRetryCount="3">
    <authentication username="riakpass" password="Test1234" tls="false" start_tls="false" />
    <nodes>
      <node name="dev1" hostAddress="riak-test" pbcPort="8087" poolSize="16"/>
    </nodes>
  </riakPlaintextConfiguration>

  <riakNoAuthConfiguration nodePollTime="5000" defaultRetryWaitTime="200" defaultRetryCount="3">
    <nodes>
      <node name="dev1" hostAddress="riak-test" pbcPort="8087" poolSize="16"/>
    </nodes>
  </riakNoAuthConfiguration>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
