bin
Bin
BIN
obj
Obj
OBJ
debug
Debug
DEBUG
release
Release
RELEASE
packages/

*.orig
*.ncb
*.obj
*.suo
*.user
*.swp
*.*~
_Re*
\.DS_Store
*.userprefs
*.pidb
*.zip
test-results/*
*.dotCover
*.nupkg
test-results

*.ncrunchproject
*.ncrunchsolution
_NCrunch_*
TestResult.xml
*.VisualState.xml
*.out
*.err
GlobalAssemblyInfo.cs
