bin
Bin
BIN
obj
Obj
OBJ
debug
Debug
DEBUG
release
Release
RELEASE
packages/
Help

*.orig
*.ncb
*.obj
*.suo
*.user
*.swp
*.log
*.*~
_Re*
\.DS_Store
*.userprefs
*.pidb
*.zip
test-results/*
*.dotCover
*.nupkg
*.nuspec
test-results

*.ncrunchproject
*.ncrunchsolution
_NCrunch_*
TestResult.xml
*.VisualState.xml
*.out
*.err
GlobalAssemblyInfo.cs
CommonAssemblyInfo.cs
*.DotSettings
*.dcvr.settings
StyleCop.Cache
