<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="riak1NodeConfiguration" type="CorrugatedIron.Config.RiakClusterConfiguration, CorrugatedIron" />
        <section name="riak3NodeConfiguration" type="CorrugatedIron.Config.RiakClusterConfiguration, CorrugatedIron" />
    </configSections>

    <riak1NodeConfiguration>
        <nodes>
            <node name="dev1"
                  hostAddress="riak-test"
                  pbcPort="8081"
                  httpPort="8091"
                  poolSize="1"
                  acquireTimeout="4000"
                  idleTimeout="1000" />
        </nodes>
    </riak1NodeConfiguration>
    <riak3NodeConfiguration>
        <nodes>
            <node name="dev1"
                  hostAddress="riak-test"
                  pbcPort="8081"
                  httpPort="8091"
                  poolSize="1"
                  acquireTimeout="4000"
                  idleTimeout="1000" />
            <node name="dev2"
                  hostAddress="riak-test"
                  pbcPort="8082"
                  httpPort="8092"
                  poolSize="1"
                  acquireTimeout="4000"
                  idleTimeout="1000" />
            <node name="dev3"
                  hostAddress="riak-test"
                  pbcPort="8083"
                  httpPort="8093"
                  poolSize="1"
                  acquireTimeout="4000"
                  idleTimeout="1000" />
        </nodes>
    </riak3NodeConfiguration>
</configuration>